
# Immich application configuration
immich:
  controllers:
    main:
      containers:
        main:
          image:
            # renovate: image=ghcr.io/immich-app/immich-server
            tag: v2.2.2
          env:
            REDIS_HOSTNAME: redis-master.persistence
            IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'
            TZ: "Europe/Helsinki"
            IMMICH_LOG_LEVEL: "warn"
          envFrom:
            - secretRef:
                name: immich-secrets
# Metrics configuration
  immich:
    metrics:
      # Enabling this will create the service monitors needed to monitor immich with the prometheus operator
      enabled: false

    # Persistence configuration
    persistence:
      # Main data store for all photos shared between different components.
      library:
        # Automatically creating the library volume is not supported by this chart
        # You have to specify an existing PVC to use
        existingClaim: pvc-immich

  # Configuration is immich-config.json converted to yaml
  # ref: https://immich.app/docs/install/config-file/
  configuration: {}
